	<!-- BEGIN HEADER MENU -->
	<div class="page-header-menu">
		<div class="container">
			<!-- BEGIN HEADER SEARCH BOX -->
			<form class="search-form" action="extra_search.html" method="GET">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search" name="query">
					<span class="input-group-btn">
					<a href="#" class="btn submit"><i class="icon-magnifier"></i></a>
					</span>
				</div>
			</form>
			<div class="hor-menu ">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="index.html">Dashboard</a>
					</li>
					
					<li class="menu-dropdown mega-menu-dropdown " th:each="modulo : ${session.modulosPorPerfil}">
						<a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">
						<i class="fa" th:classappend="${modulo.icono}"></i>
							<span th:text="${modulo.nombre}"></span>
<!-- 							<span th:classappend="${modulo.icono}"></span> -->
						</a>
							<ul class="dropdown-menu pull-left">
							<li class=" dropdown-submenu">
								
								<li class="dropdown-menu">
									<li>
										<a href="#">Usuarios</a>
									</li>
									<li>
										<a href="#">Perfiles</a>
									</li>
								</ul>
						</li>
					</ul>
					
			</div>
			<!-- END MEGA MENU -->
		</div>
	</div>
	<!-- END HEADER MENU -->